* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper { 
    max-inline-size: 1000px;
    margin-inline: auto;
}

.header {
    display: flex;
    gap: 60px;
    padding-top: 30px;
    padding-inline: 30px;
    justify-content: space-between;
    margin-inline-end: 30px;
}

.primary-navigation {
    display: flex;
    gap: 20px;
}

a {
    font: 18px #e5e7eb;
    min width: 200px;
    color: white;
    text-decoration: none;
}


li::marker {
   content:none; 
}

h1 {
    font: 48px #f9faf8 900;
    background-color: #1f2937;
}

.hero {
    padding-top: 30px;
}

.black-bg {
    color: white;
    background-color: #1f2937;
}

.signup-button {
    padding: 10px 20px;
    background-color: #3882f6;
    color: white;
    border: none;
    border-radius: 12px; 
    font-size: 16px;
}

.two-column {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    padding: 40px;
    align-items: center;
    justify-content: center;
  }
  
  .two-column > div,
  .two-column > img {
    flex: 1 1 300px; 
    max-width: 100%;
  }


ul li::marker {
    content:  ;
}

h2 {
font-family: Roboto, sans-serif;
text-align: center;
margin: 40px;
font-size: 24px;
font-weight: bold;
margin-bottom: 40px;
}

img {
    padding-bottom: 0px 0px 20px 30px;
    margin-left: 20px;
}

.container {
display: flex;
justify-content: center;
gap: 20px;
flex-wrap: wrap;
}

.box {
width: 100px;
height: 100px;
border: 2px solid #4285f4;
border-radius: 12px;
margin: 0 auto;
}

.item {
max-width: 120px;
text-align: center;
font-size: 12px;
color: #444;
}

.subtext {
margin-top: 10px;
}

.quote-section {
background-color: #e5e7eb; /* light gray */
padding: 60px 20px;
text-align: center;
font-family: 'Arial', sans-serif;
margin-block: 60px;
}

.quote-text {
    font-style: italic;
    max-width: 820px;
    margin-inline: 200px;
    color: #374151;
    font-size: 36px;
    line-height: 1;
    text-align: left;
    justify-content: center;
}

.quote-author {
    text-align: right;
    margin-top: 20px;
    font-weight: bold;
    color: #1f2937;
    max-width: 700px;
    margin: 0 auto;
}

.action-call {
    color: white;
    background-color: #3882f6;
    padding: 30px 30px 30px 20px;
    border-radius: 12px;
    display: flex;
    gap: 60px;
    justify-content: space-between;
    margin: 70px;
    margin-inline: 100px;
}

.signup-button-border {
    padding-inline: 10px; 
    background-color: #3882f6;
    color: white;
    border: 2px solid white; 
    border-radius: 6px;
    font-size: 16px;
    font-weight: 500;
}

footer {
    text-align: center;
    background-color: #1f2937;
    color: white;
    padding: 20px;
    margin-block-start: 20px;

}